.App {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading1 {
  font-size: x-large;
  margin-top: 30px;
}

.heading2 {
  font-size: medium;
}


.senderBackground {
  display: flex;
  flex-direction: column;

  background-color: #F4F6F8;
  border-radius: 15px;
  padding-inline: 20px;
  padding-bottom: 20px;
}

.balance {
  display: flex;
  width: 420px;
  margin-top: 30px;
  background-color: #F4F6F8;
  border-radius: 15px;
  padding: 20px;
  justify-content: space-between;
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;

}


input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  padding-inline: 10px;


  font-size: medium;
}

/* input:invalid{
  outline: 1.5px solid red;
} */
input:focus {
  outline: 1.5px solid #CCCCCC;
}

/* input:invalid{
  outline: 1.5px solid red;
} */

input::placeholder {
  color: #B2B2B2;

}

input:disabled {
  background-color: white;
}

button {
  background-color: #31C1BF;
  border-radius: 50px;
  border: none;
  font-size: medium;
  color: white;
  padding: 10px;
  width: 100px;
  margin-top: 10px;

}

button:disabled {
  opacity: 0.6;
}

@media only screen and (max-width: 400px) {
  input {
    width: 80vw;
  }

  .balance {
    width: calc(80vw);
  }
}